{% extends "base.html" %}

{% block title %}Lista de Datalogers{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Lista de Datalogers</h1>
    <hr>

    <div class="mb-3">
        <input type="text" id="buscador" class="form-control" placeholder="Buscar...">
    </div>

    <table class="table table-striped text-center">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>IP</th>
                <th>API URL</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for dataloger in datalogers %}
            <tr>
                <td>{{ dataloger.nombre }}</td>
                <td>{{ dataloger.ip }}</td>
                <td>{{ dataloger.api_url }}</td>
                <td>
                    <a href="{{ url_for('main.datalogers_editar', id=dataloger.id) }}" class="btn btn-info btn-sm">Editar</a>
                
                    <button class="btn btn-danger btn-sm btn-eliminar"
                        data-id="{{ dataloger.id }}"
                        data-url="{{ url_for('main.datalogers_eliminar', id=dataloger.id) }}">
                        Eliminar
                    </button>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center mt-3">
        <a href="{{ url_for('main.datalogers_crear') }}" class="btn btn-primary">Agregar Dataloger</a>
    </div>
</div>
{% endblock %}
