
    {% extends "base.html" %}

    {% block title %}Inicio{% endblock %}
    
    {% block content %}
    <h1 class="text-center">Lista de Módulos Escolares</h1>
    <hr>

    {% if modulos %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre de la Planta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for modulo in modulos %}
                    <tr>
                        <td>{{ modulo.planta.especie if modulo.planta else 'Sin planta asociada' }}</td>
                        <td>
                            <a href="{{ url_for('main.show', id=modulo.id) }}" class="btn btn-link">Ver Detalles</a>
                            |
                            <form action="{{ url_for('main.delete', id=modulo.id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este módulo?');">
                                    Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>        
        </table>
    {% else %}
        <p class="text-center">No hay módulos escolares registrados.</p>
    {% endif %}
{% endblock %}

