{% extends "base.html" %}

{% block title %}Lista de Plantas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Lista de Plantas</h1>
    <p class="text-center text-secondary" >*Antes de ingresar Plantas debe tener <b>Variables</b> ya almacenadas primero</p>
    
    <hr>

    <div class="mb-3">
        <input type="text" id="buscador" class="form-control" placeholder="Buscar...">
    </div>

    {% if plantas %}
    <div class="row justify-content-center">
        <table class="table table-striped table-responsive text-center">
            <thead>
                <tr class="table-dark">
                    <th>Especie</th>
                    <th>Fecha de Plantado</th>
                    <th>Fecha de Cosecha</th>
                    <th>Rangos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for planta in plantas %}
                    <tr>
                        <td>{{ planta.especie }}</td>
                        <td>{{ planta.fecha_plantado or 'No especificado' }}</td>
                        <td>{{ planta.fecha_cosecha or 'No especificado' }}</td>
                        <td>
                            {% if planta.rangos %}
                                <ul class="list-unstyled">
                                    {% for rango in planta.rangos %}
                                        <li>
                                            <span style="font-weight:bold">Temperatura</span>: {{ rango.temperatura_min }}°C - {{ rango.temperatura_max }}°C | 
                                            <span style="font-weight:bold">pH</span>: {{ rango.ph_min }} - {{ rango.ph_max }} | 
                                            <span style="font-weight:bold">Humedad</span>: {{ rango.humedad_min }}% - {{ rango.humedad_max }}%
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <span class="text-muted">No hay rangos registrados</span>
                            {% endif %}
                        </td>
                        
                        <td>
                            <a href="{{ url_for('main.plantas_editar', id=planta.id) }}" class="btn btn-info btn-sm">Editar</a>
                        
                            <button class="btn btn-danger btn-sm btn-eliminar"
                                data-id="{{ planta.id }}"
                                data-url="{{ url_for('main.plantas_eliminar', id=planta.id) }}">
                                Eliminar
                            </button>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    {% else %}
        <p class="text-center">No hay plantas registradas.</p>
    {% endif %}
    <div class="d-flex justify-content-center mt-3">
        <a href="{{ url_for('main.plantas_crear') }}" class="btn btn-primary mb-3">Agregar Planta</a>
    </div>
</div>
{% endblock %}
