<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulación de {{ modulo.especie }}</title>
    <link href="{{ url_for('static', filename='css/planta.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Modulo de: {{ modulo.especie }}</h1>

    <div class="wrap">
        <!-- Contenedor para el estado de la planta -->
        <div class="state-container">
            <div class="box {{ estado_color }}" id="estado-planta">
                {% if estado_color == 'green' %} 😊 ¡Todo bien!
                {% elif estado_color == 'yellow' %} 😐 En cuidado
                {% elif estado_color == 'orange' %} 😟 Preocupado
                {% else %} 😭 Necesito ayuda
                {% endif %}
            </div>
        </div>
    
        <!-- Contenedor para la representación visual de la planta -->
        <div class="plant-container">
            <div class="wrap">
                <div class="base">
                    <div class="flowerpot"></div>
                    <div class="blade blade-center"></div>
                </div>
            </div>
        </div>
    </div>
    
    

    <!-- Tabla de condiciones -->
    <table id="tabla-condiciones">
        <thead>
            <tr>
                <th>Condición</th>
                <th>Valor Actual</th>
                <th>Rango Ideal</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Temperatura</td>
                <td>{{ valores_simulados.temperatura | round(1) }}°C</td>
                <td>{{ modulo.especie_rango.temperatura_min }}°C - {{ modulo.especie_rango.temperatura_max }}°C</td>
                <td>{{ '🟢' if condiciones['temperatura'] else '🔴' }}</td>
            </tr>
            <tr>
                <td>PH</td>
                <td>{{ valores_simulados.ph | round(1) }}</td>
                <td>{{ modulo.especie_rango.ph_min }} - {{ modulo.especie_rango.ph_max }}</td>
                <td>{{ '🟢' if condiciones['ph'] else '🔴' }}</td>
            </tr>
            <tr>
                <td>Humedad</td>
                <td>{{ valores_simulados.humedad }}%</td>
                <td>{{ modulo.especie_rango.humedad_min }}% - {{ modulo.especie_rango.humedad_max }}%</td>
                <td>{{ '🟢' if condiciones['humedad'] else '🔴' }}</td>
            </tr>
        </tbody>
    </table>
    

    <!-- Botón para generar nuevos valores -->
    <div class="button-container">
        <button onclick="generarNuevosValores()">Generar Nuevos Valores</button>
    </div>

    <script>
        function generarNuevosValores() {
            location.href = "{{ url_for('main.simulate', id=modulo.id) }}";
        }
    </script>
</body>
</html>
