{% extends "base.html" %}

{% block title %}Lista de Variables{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Lista de Variables</h1>
    <hr>

    <div class="mb-3">
        <input type="text" id="buscador" class="form-control" placeholder="Buscar...">
    </div>

    <table class="table table-striped text-center">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Unidad de Medida</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for variable in unidades %}
            <tr>
                <td>{{ variable.nombre }}</td>
                <td>{{ variable.unidad_medida }}</td>
                <td>
                    <a href="{{ url_for('main.variables_editar', id=variable.id) }}" class="btn btn-info btn-sm">Editar</a>
                
                    <button class="btn btn-danger btn-sm btn-eliminar"
                        data-id="{{ variable.id }}"
                        data-url="{{ url_for('main.variables_eliminar', id=variable.id) }}">
                        Eliminar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center mt-3">
        <a href="{{ url_for('main.variables_crear') }}" class="btn btn-primary">Agregar Variable</a>
    </div>
</div>
{% endblock %}
